@model IEnumerable<TheBlogProject.Models.Comment>

@{
    ViewData["Title"] = "Index";
}


@if (!Model.Any())
{
    <h1 class="text-center">No Comments Available</h1>
}
else if (Model.First().Moderated == null && Model.First().Deleted == null)
{
    <h1 class="ms-3">User Comments</h1>
    <table class="table ms-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Post)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogUser)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogUser.FullName)
                    </td>
                    <td>
                       
                        <a asp-action="SoftDeleteMenu" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*Modals*@


}
else if (Model.First().Moderated != null)
{
    <h1 class="ms-3">Moderated Comments</h1>
    <table class="table ms-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Moderated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModeratedBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModerationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Moderator)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moderated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModeratedBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModerationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moderator.FullName)
                    </td>
                    <td>
                        <a asp-action="SoftDeleteMenu" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else if (Model.First().Deleted != null)
{
    <h1 class="ms-3">Deleted Comments</h1>
    <table class="table ms-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deleted)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Post.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogUser.FullName)
                    </td>
                    <td>
                        <a asp-action="UndoDelete" asp-route-id="@item.Id">Undo</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
