@using TheBlogProject.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using TheBlogProject.Services
@using TheBlogProject.Enums

@model IPagedList<Blog>
@{
    ViewData["Title"] = "Home Page";
}
@inject IImageService imageService

<h1 class="text-center pb-3">Available Blogs</h1>
@if (User.IsInRole(BlogRole.Administrator.ToString())){
    <div class="link-underline-primary">
        <a class="ms-3" asp-action="PostProductionIndex" asp-controller="Posts">Go To Blogs in Production</a>
    </div>
}
<div class="row ms-2 me-2">
    @foreach (var blog in Model)
    {
        <div class="col-sm-2 col-lg-4 mt-3">
            <div class="card border-dark">
                <img class="card-img-top" src="@imageService.DecodeImage(blog.ImageDate,  blog.ContentType)" />
                <div class="card-body text-center">
                    <div class="bg-warning">
                        <hr class="card-hr" />
                        <h5 class="card-title">@blog.Name</h5>
                        <hr class="card-hr" />
                    </div>
                    <div>
                        <p class="card-text">@blog.Description</p>
                    </div>

                    <br />
                    <div class="text-center d-grid d-block">
                        <a class="btn btn-dark btn-primary mb-2" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">Read Posts</a>
                    </div>

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center d-grid d-block">
                            <a class="btn btn-dark btn-primary mb-2" asp-controller="Posts" asp-action="Create" asp-route-id="@blog.Id">Create New Post</a>
                        </div>
                        
                        <div class="text-center d-grid d-block">
                            <a class="btn btn-secondary btn-primary mb-2" asp-controller="Blogs" asp-action="Edit" asp-route-id="@blog.Id">Edit Blog</a>
                        </div>
                        <div class="text-center d-grid d-block">
                            <a class="btn btn-danger btn-primary mb-2" asp-controller="Blogs" asp-action="Delete" asp-route-id="@blog.Id">Delete Blog</a>
                        </div>
                    }

                </div>
                
            </div>

        </div>
    }
</div>
<hr/>

<!--Add Paging Controls here-->
<div class="row ms-3 pt-3">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row ms-3">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
            new PagedListRenderOptionsBase
            {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"}
            })
    </div>
</div>