﻿﻿@using TheBlogProject.Enums
@using TheBlogProject.Services
@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@inject IImageService imageService
@inject UserManager<BlogUser> userManager

@model TheBlogProject.Models.Post


@{
    ViewData["Title"] = "Details";
}


    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </article>


<hr />

    <article>
        <div class="row">
            <div class="col text-center font-weight-bold h3">
                Custom Post Tags
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-primary btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
        </div>

    </article>



<hr />

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 custom-control-label fw-bold">Add Comment</label>
                <textarea name="body" class="form-control mb-3.m ." rows="10"></textarea>

            </div>

            <div class="d-grid d-block">
                <button type="submit" class="btn btn-dark btn-primary">Submit</button>
            </div>

        </form>
    }
    else
    {
        <div class="d-grid d-block">
            <a class="btn btn-primary btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
        </div>
    }
</div>

<hr />

<div class="d-grid d-block">
    <button id="commentSection" class="btn btn-primary btn-dark mb-3">@Model.Comments.Count COMMENT(S)</button>
</div>

@foreach (var comment in Model.Comments)
{
    <div class="d-flex  p-0 mb-2 bg-light">
        <div class="flex-shrink-0">
            <img class="me-3 mt-3 rounded-circle" style="width:100px;height:100px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)"/>
        </div>
        <div class="flex-grow-1 ms-3">
            <h4>@comment.BlogUser.FullName</h4>

            @****************************************************************
        SECTION 1: POST ON OR UPDATED ON
        *****************************************************************@
            @if (comment.Deleted is not null)
            {
                <span class="small">
                    <span class="fw-bolder">Deleted</span> : @comment.Deleted?.ToString("MMM dd, yyyy")
                </span>
            }
            else if (comment.Moderated is not null)
            {
                <span class="small">
                    <span class="fw-bolder">
                        Moderated <span class="text-danger font-italic">(@comment.ModerationType.ToString().ToLower())</span>
                    </span>
                    : @comment.Moderated?.ToString("MMM dd, yyyy")
                </span>
            }
            else if (comment.Updated is not null)
            {
                <span class="small">
                    <span class="fw-bolder">Updated </span> : @comment.Updated?.ToString("MMM dd, yyyy")
                </span>
            }
            else
            {
                <span class="small">
                    <span class="fw-bolder">Created </span> : @comment.Created.ToString("MMM dd, yyyy")
                </span>
            }

            @*****************************************************************
        SECTION 2: HOW DO WE COMPOSE THE BODY
        *****************************************************************@
            @*****************************************************************
        SECTION 2A: Render pre text
        *****************************************************************@
            <br />
            @if (comment.Deleted is not null)
            {
                <span class="small font-italic">The comment posted on @comment.Created.ToString("MMM dd, yyyy") by @comment.BlogUser.FullName was deleted by the Moderator...</span>
            }
            else if (comment.Moderated is not null)
            {
                <span class="small font-italic text-danger">The comment posted on @comment.Created.ToString("MMM dd, yyyy") by @comment.BlogUser.FullName has been Moderated...</span>
            }

            <hr />

            @*****************************************************************
        SECTION 2B: Render main body
        *****************************************************************@
            @if (string.IsNullOrEmpty(comment.Body))
            {
                <span class="small font-italic">Comment not available...</span>
            }
            else if (comment.Moderated is not null)
            {
                @comment.ModeratedBody
            }
            else if (comment.Deleted is null)
            {
                @comment.Body
            }

            @****************************************************************
        SECTION 3:  WE CAN RENDER THE EDIT BUTTON
        *****************************************************************@
            @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr>
                <button data-bs-toggle="modal" data-bs-target="#editModal_@comment.Id" class="btn-sm btn-dark float-end fw-bold mb-2">EDIT</button>
            }

            @****************************************************************
        SECTION 4: CAN WE RENDER THE MODERATE AND DELETE BUTTONS
        *****************************************************************@
            @if ((User.IsInRole(BlogRole.Moderator.ToString()) || User.IsInRole(BlogRole.Administrator.ToString())) && comment.Deleted is null)
            {
                <hr>
                <div class="row">
                    <div class="col-2 d-grid d-block">
                        <button class="btn-sm btn-dark fw-bold" data-bs-toggle="modal" data-bs-target="#moderate_@comment.Id">MODERATE</button>
                    </div>
                    <div class="col-2">
                        <form asp-action="SoftDelete" asp-controller="Comments" asp-route-id=@comment.Id>
                            @Html.Hidden("Id", comment.Id)
                            @Html.Hidden("Slug", comment.Post.Slug)
                            <div class="d-grid d-block">
                                <button class="btn-sm btn-dark fw-bold">DELETE</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>

       @*Modals*@
    <div class="modal" id="editModal_@comment.Id">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title">Editing Comment...</h4>
                   </div>

                   <div class="modal-body">
                       <form asp-action="Edit" asp-controller="Comments">
                           @Html.Hidden("Id", comment.Id)

                           <div class="form-group">
                               <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                           </div>

                           <button class="mt-2 btn-sm btn-dark border-success fw-bold" type="submit">SUBMIT</button>
                       </form>

                   </div>

                   <div class="modal-footer">
                       <button type="button" class="btn-sm btn-dark fw-bold" data-bs-dismiss="modal">CLOSE</button>
                   </div>

               </div>

           </div>

       </div>

    <div class="modal" id="moderate_@comment.Id">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Moderating Comment...</h4>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form asp-action="Moderate" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id)
                        @Html.Hidden("Body", comment.Body)

                        <div class="form-group">
                            <label class="control-label">Original Comment</label>
                            <textarea disabled class="form-control" style="resize:none">@comment.Body</textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Moderated Comment</label>
                            <textarea required name="ModeratedBody" class="form-control">@comment.ModeratedBody</textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Reason For Moderation</label>
                            <select class="form-control" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col d-grid d-block">
                                    <button class="btn-sm  btn-dark border-success fw-bold" type="submit">SUBMIT</button>
                                </div>
                                <div class="col d-grid d-block">
                                    <button class="btn-sm  btn-dark fw-bold" type="button" data-bs-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}